<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_battle_caocao_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,111},{100,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,63}}</string>
                <key>sourceSize</key>
                <string>{100,63}</string>
            </dict>
            <key>eff_battle_caocao_138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,155}}</string>
                <key>sourceSize</key>
                <string>{166,155}</string>
            </dict>
            <key>eff_battle_caocao_140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{155,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,149}}</string>
                <key>sourceSize</key>
                <string>{155,149}</string>
            </dict>
            <key>eff_battle_caocao_142.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,92},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_battle_caocao_144.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{101,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,133}}</string>
                <key>sourceSize</key>
                <string>{101,133}</string>
            </dict>
            <key>eff_battle_caocao_259.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,333},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>eff_battle_caocao_262.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,94},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>eff_battle_caocao_270.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{107,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,177}}</string>
                <key>sourceSize</key>
                <string>{107,177}</string>
            </dict>
            <key>eff_battle_caocao_296.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,427},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>eff_battle_caocao_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,265},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,78}}</string>
                <key>sourceSize</key>
                <string>{89,78}</string>
            </dict>
            <key>eff_battle_caocao_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,498},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>eff_battle_caocao_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,278},{94,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,79}}</string>
                <key>sourceSize</key>
                <string>{94,79}</string>
            </dict>
            <key>eff_battle_caocao_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,296},{94,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,79}}</string>
                <key>sourceSize</key>
                <string>{94,79}</string>
            </dict>
            <key>eff_battle_caocao_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,201},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>eff_battle_caocao_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,185},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,78}}</string>
                <key>sourceSize</key>
                <string>{89,78}</string>
            </dict>
            <key>eff_battle_caocao_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,304},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>eff_battle_caocao_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,313},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>eff_battle_caocao_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,324},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>eff_battle_caocao_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,105},{100,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,79}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>eff_battle_caocao_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,513},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>eff_battle_caocao_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,105},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>eff_battle_caocao_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,392},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>eff_battle_caocao_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,406},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>eff_battle_caocao_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,509},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>eff_battle_caocao_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,380},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>eff_battle_caocao_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,91},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>eff_battle_caocao_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,526},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>eff_battle_caocao_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,185},{97,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,91}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>eff_battle_caocao_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,427},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_battle_caocao_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,475},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>eff_battle_caocao_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,194},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>eff_battle_caocao_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,111},{84,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,119}}</string>
                <key>sourceSize</key>
                <string>{84,119}</string>
            </dict>
            <key>eff_battle_caocao_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{87,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,119}}</string>
                <key>sourceSize</key>
                <string>{87,119}</string>
            </dict>
            <key>eff_battle_caocao_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>eff_battle_caocao_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,119}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>eff_battle_caocao_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>eff_battle_caocao_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,197},{83,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,118}}</string>
                <key>sourceSize</key>
                <string>{83,118}</string>
            </dict>
            <key>eff_battle_caocao_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,213},{82,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,118}}</string>
                <key>sourceSize</key>
                <string>{82,118}</string>
            </dict>
            <key>eff_battle_caocao_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,282},{82,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,118}}</string>
                <key>sourceSize</key>
                <string>{82,118}</string>
            </dict>
            <key>eff_battle_caocao_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,366},{81,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,118}}</string>
                <key>sourceSize</key>
                <string>{81,118}</string>
            </dict>
            <key>eff_battle_caocao_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,207},{79,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,118}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>eff_battle_caocao_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,427},{69,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,24}}</string>
                <key>sourceSize</key>
                <string>{69,24}</string>
            </dict>
            <key>eff_battle_caocao_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{142,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,137}}</string>
                <key>sourceSize</key>
                <string>{142,137}</string>
            </dict>
            <key>eff_battle_caocao_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,449},{110,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,127}}</string>
                <key>sourceSize</key>
                <string>{110,127}</string>
            </dict>
            <key>eff_battle_caocao_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,207},{78,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,115}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>eff_battle_caocao_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,327},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>eff_battle_caocao_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,345},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>eff_battle_caocao_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{138,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,127}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>eff_battle_caocao_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,207},{104,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,69}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>eff_battle_caocao_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,91},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>eff_battle_caocao_ce1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,514},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>eff_battle_caocao_lg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,105},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_battle_caocao_yv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,374},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>p_rl_caocao_lingzi _1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,489},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>p_rl_caocao_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,282},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>p_rl_caocao_qugan.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,488},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>p_rl_caocao_qunjia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,526},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>p_rl_caocao_qunjia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,553},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>p_rl_caocao_qunjia_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,558},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>p_rl_caocao_shangbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,498},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>p_rl_caocao_shangbi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,529},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>rl_caocao_head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,489},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>rl_caocao_head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,402},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>rl_caocao_head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,411},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>rl_caocao_head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,422},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>rl_caocao_head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,427},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>rl_caocao_head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,449},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>rl_caocao_lingzi _1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,488},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rl_caocao_lingzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,489},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>rl_caocao_pifeng 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,184},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>rl_caocao_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,184},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>rl_caocao_qiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,536},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>rl_caocao_qiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,536},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>rl_caocao_qiu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,536},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>rl_caocao_qugan.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,429},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>rl_caocao_qunjia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,552},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>rl_caocao_qunjia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,529},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>rl_caocao_qunjia_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,558},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>rl_caocao_shangbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,514},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>rl_caocao_shangbi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,426},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>rl_caocao_shaodw.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>rl_caocao_shou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,448},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>rl_caocao_shou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,197},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>rl_caocao_shou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,310},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>rl_caocao_wuqi_zu.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,470},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>rl_caocao_xiaobi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,550},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>rl_caocao_xiaobi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,553},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>rl_caocao_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,427},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>rl_caocao_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,159},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>rl_caocao_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,548},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>rl_caocao_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,426},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>rl_caocao_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,566},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>rl_caocao_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,558},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rl_caocao0.png</string>
            <key>size</key>
            <string>{1011,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fa98a8e4dcde181ce21a2fab32be466:9949f26f3b98ba3bb56cf34b3fb37617:60387bf9c6f72838dff597d121dfceb5$</string>
            <key>textureFileName</key>
            <string>rl_caocao0.png</string>
        </dict>
    </dict>
</plist>
